.banner {
  background-color: #f2f5fb;

  display: flex;
  justify-content: start;
  align-items: center;
  gap: 100px;
  height: 100vh;
  position: relative;
  @media (max-width: 992px) {
    flex-wrap: wrap;
  }

  @media (max-width: 768px) {
  }
}

.banner-left {
}

.banner-left p {
  font-size: 50px;
  font-weight: 800;
}

.banner-left p span {
  color: blue;
}

.banner-left h6 {
  margin-top: 20px;
}

.banner-inputs {
  display: flex;

  align-items: self-end;
  gap: 30px;
  margin: 20px 0;
  background: white;
  border-radius: 10px;
  padding: 0px 0px 10px 10px;

  @media (max-width: 991px) {
    flex-direction: column;
    justify-content: start;
    gap: 30px;
    background-color: #f2f5fb;
  }
}

.banner-input-first,
.banner-input-second,
.banner-inputs-button {
  height: 50px;
  border: none;
  border-radius: 10px;

  @media (max-width: 991px) {
    width: 90vw;
    padding: 0 30px;
  }
}

.with-divider {
  position: relative;
}

.with-divider::after {
  content: "";
  width: 2px;
  height: 40px;
  background-color: rgb(221, 217, 217);
  position: absolute;
  top: 0;

  @media (max-width: 991px) {
    display: none;
  }
}
.banner-inputs-button {
  align-self: center;
  background-color: blue;
  color: white;
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.banner-inputs-button:hover {
  background-color: darkblue;
}

.banner-left-bottom p {
  font-size: 16px;
  font-weight: 100;
}

.banner-right {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  @media (max-width: 1023px) {
    display: none;
  }
}

.pop-up-thing-1 {
  height: 100px;
  width: 200px;
  border-radius: 10px;
  background: white;
  position: absolute;
  top: 10px;
  bottom: auto;
  left: -20px;
  right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
}

.pop-up-thing-1 svg {
  height: 30px;
  width: 40px;
  fill: orange;
  background-color: pink;
  padding: 10px;
  border-radius: 10px;
}

.pop-up-thing-1 p {
  font-weight: bold;
}

.pop-up-thing-2 {
  height: 135px;
  width: 230px;
  border-radius: 10px;
  background: white;
  position: absolute;
  top: 80px;
  bottom: auto;
  left: auto;
  right: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.pop-up-thing-2 p {
  font-weight: 600;
}

.pop-up-thing-3 {
  height: 75px;
  width: 300px;
  border-radius: 10px;
  background: white;
  position: absolute;
  top: auto;
  bottom: 250px;
  left: auto;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  padding: 10px;
}

.briefcase-div {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
  border-radius: 50%;
}

#briefcase {
  height: 25px;
  width: 25px;
  fill: orange;
  /* background-color: pink; */
  /* border-radius: 50%; */
  border: none;
}

#tick {
  height: 40px;
  width: 40px;
  padding: 10px;
  fill: pink;
}

.pop-up-thing-3-div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pop-up-thing-3-div-p1,
.pop-up-thing-4-div-p1 {
  font-weight: 800;
}

.pop-up-thing-3-div-p2,
.pop-up-thing-4-div-p2 {
  font: 100;
  color: grey;
  font-size: 12px;
}

.pop-up-thing-4-div-p1,
.pop-up-thing-4-div-p2 {
  margin-left: 40px;
}

.pop-up-thing-4 {
  height: 80px;
  width: 250px;
  border-radius: 10px;
  background: white;
  position: absolute;
  top: auto;
  bottom: 100px;
  left: -100px;
  right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.pop-up-thing-5 {
  height: 80px;
  width: 80px;
  border-radius: 10px;
  background: white;
  position: absolute;
  top: auto;
  bottom: 150px;
  left: -150px;
  right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pop-up-thing-5 svg {
  fill: none;
  stroke: rgb(167, 105, 226);
  height: 60px;
  width: 60px;
}
