.download-enjoy {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 100px 0;

  @media (max-width: 992px) {
    flex-direction: column-reverse;
    // align-items: center;
  }

  .download-enjoy-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 450px;

    .p1 {
      text-transform: uppercase;
      color: blue;
      font-size: 22px;
    }

    .p2 {
      font-size: 50px;
      font-weight: 600;
    }

    .p3 {
      font-size: 14px;
      color: grey;
    }
  }
  .google-apple {
    display: flex;
    gap: 50px;
  }
}
