.featured-jobs {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.featured-jobs-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .p1 {
    font-size: 30px;
    font-weight: 900;
  }

  .p2 {
    font-size: 12px;
    color: grey;
  }
}

.featured-jobs-bottom {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  gap: 30px;

  .featured-jobs-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    position: relative;
    border: 1px dotted grey;
    border-radius: 10px;
    padding: 30px 20px;
    width: 600px;

    .bookmark-svg {
      position: absolute;
      height: 25px;
      width: 25px;
      top: 10px;
      right: 15px;

      svg {
        stroke: black;
        fill: none;
      }
    }

    .div-outer {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .div-inner-1 {
        font-size: 20px;
        font-weight: 500;
      }
      .div-inner-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 10px 0;

        svg {
          fill: grey;
          height: 15px;
          width: 15px;
        }

        p {
          font-size: 15px;
          color: grey;
        }
      }

      .div-inner-3 {
        display: flex;
        gap: 10px;
        font-size: 13px;

        div {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 20px;
          width: 100px;
          padding: 5px 10px;
          border-radius: 20px;
        }

        .div1 {
          color: blue;
          background-color: lightblue;
        }

        .div2 {
          color: green;
          background-color: rgb(228, 216, 216);
        }

        .div3 {
          color: pink;
          background-color: orange;
        }
      }
    }
  }
}

button {
  margin-top: 20px;
  color: white;
  background-color: rgb(51, 51, 231);
  letter-spacing: 1px;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(22, 22, 224);
}
