footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  p {
    font-size: 14px;
    color: grey;
  }

  .svg-svg {
    display: flex;
    gap: 10px;
  }
  .my-svg {
    height: 25px;
    width: 25px;

    svg {
      height: 24px;
      width: 24px;
      fill: grey;
    }
  }
}
