@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1440px;
  margin: auto auto;
}
.top-section {
  padding-right: 15px;
  padding-right: 15px;
  background-color: skyblue;
}

@import "./nav.scss";

@import "./banner.scss";

@import "./popularJobSection.scss";

@import "./featuredJobs.scss";

@import "./testimonials.scss";

@import "./companyImg.scss";

@import "./findJobs.scss";

@import "./recent-news.scss";

@import "./download-and-enjoy.scss";

@import "./recruiting.scss";

@import "./contacts-information.scss";

@import "./footer.scss";
